<%= form_for @samsung, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :services, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :services,['Samsung USA All MODEL Guarenteed $35 (Instant)','Samsung Canada $45 (2-24hr)'],:prompt => 'Select one', :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :imei, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :imei, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :response_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :response_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text_alert, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text_alert, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                samsungs_path, :class => 'btn' %>
  </div>
<% end %>
