<%- model_class = Huwaei -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:services) %></th>
      <th><%= model_class.human_attribute_name(:imei) %></th>
      <th><%= model_class.human_attribute_name(:response_email) %></th>
      <th><%= model_class.human_attribute_name(:text_alert) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @huwaeis.each do |huwaei| %>
      <tr>
        <td><%= link_to huwaei.id, huwaei_path(huwaei) %></td>
        <td><%= huwaei.services %></td>
        <td><%= huwaei.imei %></td>
        <td><%= huwaei.response_email %></td>
        <td><%= huwaei.text_alert %></td>
        <td><%= huwaei.user_id %></td>
        <td><%=l huwaei.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_huwaei_path(huwaei), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      huwaei_path(huwaei),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_huwaei_path,
            :class => 'btn btn-primary' %>
